@media (min-width: 320px) and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  body {
    margin: 4%;
    margin-bottom: 0%;
    overflow-x: hidden;
  }
  nav {
    height: 0%;
    width: 0%;
    margin-top: -12%;
    border: none;
  }
  nav .mainmenu {
    height: 50%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #000;
    transition: top 1s ease;
    display: none;
  }
  nav .mainmenu .closebtn {
    display: block;
    position: absolute;
    top: 41%;
    right: 47%;
    font-size: xxx-large;
  }
  nav .Open_menu {
    margin-left: -67%;
    margin-top: 37px;
    border: 1px solid#00000094;
    display: block;
    font-size: 172%;
    height: 37px;
    width: 25px;
    padding: 6px;
    padding-right: 11px;
    padding-left: 9px;
    border-radius: 11%;
    background: white;
  }
  nav .logo {
    display: none;
  }
  .H6 {
    margin-top: 46%;
    height: 0%;
    margin-left: 69%;
    font-size: 78%;
    display: none;
  }
  .H7 {
    margin-top: 57%;
    margin-left: -120%;
    background: none;
    font-size: 91%;
    display: none;
  }
  #home {
    margin-top: 0%;
    margin-left: -27%;
    font-size: larger;
    margin-bottom: 57%;
    height: 22%;
    top: -91%;
  }
  #aboutus {
    margin-top: 0%;
    margin-left: -20%;
    font-size: larger;
    margin-bottom: 57%;
    height: 22%;
    top: -46%;
  }
  .dropbtn {
    margin-top: -29%;
    margin-left: -11%;
    height: 47%;
    margin-bottom: 26%;
    font-size: larger;
    top: -66%;
  }
  .dropbtn:hover {
    padding-bottom: 0%;
  }
  nav .mainmenu li a {
    margin-top: -5%;
    margin-left: -15%;
    height: 53%;
    font-size: larger;
    top: -132%;
    color: #000;
  }
  /* for the main image */
  #IMG1 {
    width: 109%;
    height: 4%;
    margin-left: -26%;
    margin-top: 22%;
  }
  /* for the image after text  */
  #fh {
    margin-left: 28%;
  }
  /* for the name input box */
  #ne {
    margin-left: 11%;
    margin-top: -2%;
    font-weight: bolder;
  }
  #name {
    width: 80%;
    margin-top: -5%;
    margin-left: 10%;
    height: 30px;
  }
  /* for the email input */
  #el {
    margin-left: 11%;
    margin-top: 4%;
  }
  .email {
    width: 80%;
    margin-top: -5%;
    margin-left: 10%;
    height: 30px;
  }
  /* for the phone section */
  #pe {
    margin-left: 11%;
    margin-top: 4%;
  }
  #phone {
    width: 80%;
    margin-top: -5%;
    margin-left: 10%;
    height: 30px;
  }
  /* for the website section */
  #we {
    margin-left: 11%;
    margin-top: 4%;
  }
  #website {
    width: 80%;
    margin-top: -5%;
    margin-left: 10%;
    height: 30px;
  }
  /* for the text area */
  #tx {
    margin-left: 11%;
    margin-top: 4%;
    font-weight: bolder;
  }
  #textbox {
    width: 80%;
    margin-top: -5%;
    margin-left: 10%;
  }
  /* for the sumbit button */
  #submit {
    width: 30%;
    margin-left: 36%;
  }
  /* for the green box */
  #secondbox {
    margin-top: 12%;
    margin-left: -1%;
    width: 100%;
    text-align: center;
  }
  #ol {
    padding: 0%;
  }
  .para {
    padding: 0%;
    width: 60%;
    margin-left: 20%;
  }
  #qc {
    padding: 0%;
    margin-left: 1%;
  }
  #oh1 {
    padding: 0%;
  }
  #para1 {
    padding: 0%;
    width: 60%;
    margin-left: 20%;
  }
  #acr {
    width: 27%;
    padding: 0%;
    padding-top: 2%;
  }
  /* for the last box */
  #lastblog {
    margin-top: 13%;
    width: 109%;
    margin-left: -4%;
    height: 529px;
  }
  /* for the quickcontact section */
  #qc1 {
    display: none;
  }
  .para5 {
    display: none;
  }
  /* for the address section */
  #oa {
    display: none;
  }
  #para6 {
    display: none;
  }
  /* for the opening hour section */
  #oh {
    display: none;
  }
  .para7 {
    display: none;
  }
  /* for the line  */
  #fornothing {
    padding-top: 5%;
    display: none;
  }
  /* for the image box section */
  #img3 {
    margin-left: 4%;
    margin-top: -7%;
    width: 40%;
  }
  #para8 {
    font-size: 85%;
    margin-left: 7%;
    margin-top: -10%;
    color: white;
    width: 46%;
  }
  .para9 {
    font-size: 85%;
    margin-left: 7%;
    margin-top: 0%;
    width: 34%;
    color: white;
  }
  /* for the service section */
  #service {
    margin-left: 61%;
    margin-top: -50%;
    font-size: 127%;
    width: 22%;
    color: white;
  }
  #para10 {
    margin-top: 2%;
    width: 50%;
    margin-left: 61%;
    margin-right: 0%;
    font-size: 85%;
    color: white;
  }
  .para11 {
    margin-top: 0.7%;
    width: 35%;
    margin-left: 61%;
    font-size: 85%;
    color: white;
  }

  /* for the technology box */
  #Technology {
    margin-top: 12%;
    margin-left: 7%;
    font-size: 127%;
    color: white;
  }
  #para12 {
    margin-top: 2%;
    margin-left: 7%;
    font-size: 85%;
    color: white;
  }
  .para13 {
    margin-top: 0%;
    margin-left: 7.2%;
    font-size: 85%;
    color: white;
  }
  /* for the we're hiring section */
  #wh {
    margin-left: 61%;
    margin-top: -34.8%;
    font-size: 127%;
    color: white;
  }
  #para14 {
    margin-top: 1%;
    margin-left: 61%;
    width: 28%;
    font-size: 85%;
    color: white;
  }
  .para15 {
    margin-top: 0%;
    margin-left: 61%;
    width: 36%;
    font-size: 85%;
    color: white;
  }
  /* for the footer box */
  #footer {
    margin-left: 9%;
    padding-top: 12%;
    font-size: 63%;
    margin-top: 11%;
  }
}
@media only screen and (max-width: 375px) {
  nav .mainmenu {
    height: 50%;
  }
  #IMG1 {
    margin-top: 23%;
  }
  #service {
    margin-top: -56%;
  }
  #wh {
    margin-top: -39.8%;
  }
  #footer {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 320px) {
  /* for the ul list height */
  nav .mainmenu{
    height: 50%;
  }
  /* for the hamburger icon and for the close icon */
  nav .Open_menu {
    margin-top: 17px;
  }
  nav .mainmenu .closebtn {
    top: 45%;
  }
  /* for the submit request button */
  #submit {
    width: 37%;
    margin-left: 30%;
  }
  /* for the service section */
  #service {
    margin-top: -84%;
    margin-left: 59%;
  }
  #para10 {
    width: 30%;
    margin-left: 59%;
  }
  .para11 {
    width: 30%;
    margin-left: 59%;
  }
  /* for the we're hiring section  */
  #wh {
    margin-top: -45.8%;
    margin-left: 59%;
  }
  #para14 {
    margin-left: 59%;
  }
  .para15 {
    margin-left: 59%;
  }
  /* for the footer line */
  #footer {
    padding-top: 14%;
    font-size: 54%;
  }
}