@media only screen and ( max-width:480px){
    body{
        margin: 4%;
        margin-bottom: 0%;
    }
    nav{
        height: 16%;
        width: 100%;
        margin-top: -12%;
    }

    nav .mainmenu{
        height: 84%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        color: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainmenu .closebtn{
        display: block;
        position: absolute;
        top: 36%;
        right: 47%;
        font-size: xxx-large;
    }
    nav .Open_menu{
        display: block;
        margin-left: -67%;
        margin-top: 7%;
        font-size: 191%;
    }
    nav .logo{
        display: none;
    }
    .H6{
        margin-top: 44%;
        height: 0%;
        margin-left: 69%;
        font-size: 78%;
    }
    .H7{
        margin-top: 49.6%;
        margin-left: -100%;
        background: none;
        font-size: 91%;
    }
    #home{
        margin-top: 72%;
        margin-left: -27%;
        font-size: larger;
        margin-bottom: 57%;
        height: 22%;
        top: -34%;
    }
    #aboutus{
        margin-top: -51%;
        margin-left: -17%;
        font-size: larger;
        height: 72%;
        top: -91%;
    }
    .dropbtn{
        margin-top: 25%;
        margin-left: -8%;
        height: 24%;
        margin-bottom: 26%;
        font-size: larger;
        top: -40%;
    }
    .dropbtn:hover{
        padding-bottom: 0%;
    }
    nav .mainmenu li a{
        margin-top: 10%;
        margin-left: -15%;
        height: 53%;
        font-size: larger;
        color: #000;
        top: -196%;
    }
    #IMG1{
        height: 52%;
        margin-top: -78%;
    }
    #fh{
        margin-top: -65%;
    }
    #box{
        display: none;
    }
    /* for the slideshow */
    .slideshow-container{
        display: block;
    }
    /* for the ui ux development */
    #firstbox{
        width: 100%;
        height: 280px;
        text-align: center;
    }
    #IMG2{
        width: 21%;
        height: 28%;
    }
    /* for the gaming development section  */
    #secondbox{
        width: 100%;
        height: 280px;
        text-align: center;
    }
    #IMG3{
        width: 21%;
        height: 28%;
    }
    /* for the responsive website section */
    #thirdbox{
        width: 100%;
        height: 280px;
        text-align: center;
    }
    #IMG4{
        width: 21%;
        height: 28%;
    }
    /* for the Ecommerce development section  */
    #fourthbox{
        width: 100%;
        height: 280px;
        text-align: center;
    }
    #IMG5{
        width: 21%;
        height: 28%;
    }
    /* for the footer box*/
    .para2{
        font-size: 72%;
    }
    /* for the our address section */
    #oa{
        margin-left: 65%;
        margin-top: -19.5%;
    }
    #para3{
        margin-left: 64%;
        margin-top: 3%;
        font-size: 72%;
    }
    /* for the opening hour section  */
    #oh{
        margin-left: 41%;
        margin-top: 13%;
    }
    .para4{
        font-size: 72%;
        margin-left: 38%;
    }
    /* for the first image section */
    #img3{
        width: 33%;
    }
    #para5{
        font-size: 72%;
    }
    .para6{
        font-size: 72%;
    }
    /* for the service section */
    #service{
        margin-top: -35%;
        margin-left: 55%;
    }
    #para7{
        margin-left: 51%;
        font-size: 72%;
        margin-top: 7%;
    }
    .para8{
        margin-left: 51%;
        font-size: 72%;
        margin-top: 2%;
    }
    /* for the technology section */
    #Technology{
        margin-top: 7%;
        margin-left: 9%;
    }
    #para9{
        margin-top: 4%;
        margin-left: 9%;
        font-size: 72%;
    }
    .para10{
        margin-top: 2%;
        margin-left: 9%;
        font-size: 72%;
    }
    /* for the we're hiring section  */
    #wh{
        margin-top: -36%;
        margin-left: 55%;
    }
    #para11{
        margin-left: 48%;
        margin-top: 3.5%;
        font-size: 71%;
    }
    .para12{
        margin-left: 48%;
        font-size: 71%;
    }
    /* for footer line  */
    #footer{
        margin-top: 28%;
        margin-left: 17%;
        font-size: 61%;
    }
}